<div class='dot col'><div></div></div>
<style>
  .dot {
    grid-area: center;
    width: 2rem;
    height: 2rem;
    border: solid 0.2em var(--highlight);
    border-radius: 90%;
    align-items: center;
    justify-content: center;

    div {
      z-index: 1;
      background-color: white;
      border-radius: 90%;
      width: 1rem;
      height: 1rem;
    }
  }
</style>
