@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/RobotoMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  --highlight: #f78166;
  --primary: #023047;
  --secondary: #219ebc;
  --background: #0d1117;
  --cardBackground: #161b22;
  --text: #c9d1d9;
  --accent-secondary: #58a6ff;

  color-scheme: light dark;

  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;

  font-family: 'RobotoMono', Courier, monospace;
  font-size: 16px;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'JosefinSans', Tahoma, Geneva, Verdana, sans-serif;
  }
  ul {
    list-style: none;
  }
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

.mono {
  font-family: 'RobotoMono', Courier, monospace;
}

.sans {
  font-family: 'JosefinSans', Tahoma, Geneva, Verdana, sans-serif;
}

.highlight {
  background: linear-gradient(to right, var(--accent-secondary), var(--highlight));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a,
.link {
  color: var(--text);

  * {
    color: var(--text);
  }
}

a:hover,
.link:hover {
  color: var(--highlight);

  * {
    color: var(--highlight);
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* animations */

.scrolling {
  animation: scrolling linear;
  animation-timeline: view();
  animation-range: entry;
  transform-origin: top;
}

@keyframes scrolling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range: entry exit;
}

@keyframes fade-in {
  0% {
    scale: 0.8;
    opacity: 0;
  }
  10% {
    scale: 1;
    opacity: 1;
  }
  90% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    opacity: 0;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
