---
import { fade } from 'astro:transitions'
import Container from '../components/Container.astro'
import PageTitle from '../components/PageTitle.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='About Me'>
  <Container>
    <PageTitle title='About Me' subtitle='Always improving, never stopping' />

    <div class='content'>
      <img
        transition:animate={fade({ duration: '0.4s' })}
        class='profile-pic'
        sizes='(max-width: 700px) calc(100vw - 2rem), (max-width: 900px) calc(100vw - 6rem), 804px'
        srcset='
              /profile/200.webp 200w,
              /profile/608.webp 608w,
              /profile/892.webp 892w,
              /profile/1167.webp 1167w
              '
        src='/profile/1167.webp'
        alt='Picture of me'
      />
      <section>
        <p>
          I have been working professionally as a software developer since 2020, but it is something I have enjoyed for as long as I can remember. In my current role, I focus primarily on frontend
          development. However, in my free time, I love to explore new technologies and frameworks, ranging from microcontrollers for IoT projects to the latest cutting-edge tools and trends in web
          development.
        </p>
        <p>
          I believe that great code should be simple, efficient, and as free of unnecessary dependencies as possible. Performance is always top of mind when I write code—whether I am building an app
          from scratch or optimizing existing functionality.
        </p>
        <p>
          Driven by curiosity and a genuine love for coding, I am constantly looking to sharpen my skills and broaden my knowledge. For me, programming is not just a job, it is a craft I am always
          striving to master.
        </p>
      </section>
    </div>
  </Container>
</Layout>

<style type='text/scss'>
  .content {
    display: grid;
  }
  .profile-pic {
    grid-row: 1;
    grid-column: 1;
    z-index: -1;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    min-height: 535px;
    @media (max-width: 900px) {
      min-height: 411px;
    }
    @media (max-width: 700px) {
      min-height: 253px;
    }

    @media (max-width: 425px) {
      min-height: 180px;
    }
  }
  section {
    margin-top: 21rem;
    grid-row: 1;
    grid-column: 1;
    align-self: self-end;
  }

  p {
    margin-bottom: 1.5rem;
  }
  p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: var(--highlight);
  }
  @media (max-width: 900px) {
    .profile-pic {
      min-height: 411px;
    }
  }
  @media (max-width: 700px) {
    .profile-pic {
      min-height: 253px;
    }
    section {
      margin-top: 19rem;
    }
  }

  @media (max-width: 425px) {
    .profile-pic {
      min-height: 180px;
    }
    section {
      margin-top: 12rem;
    }
  }
</style>
