---
import Container from '../components/Container.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='About Me'>
  <Container>
    <h1>About me</h1>
  </Container>
</Layout>
<style></style>
