---
import Container from '../components/Container.astro'
import PageTitle from '../components/PageTitle.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='About Me'>
  <Container>
    <PageTitle title='About Me' subtitle='Always improving, never stopping' />

    <div class='content'>
      <img
        class='profile-pic'
        sizes='(max-width: 804px) calc(100vw - 2rem), 804px'
        srcset='
              /profile/200.webp 200w,
              /profile/608.webp 608w,
              /profile/892.webp 892w,
              /profile/1167.webp 1167w
              '
        src='/profile/1167.webp'
        alt='Picture of me'
      />

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium earum officia recusandae, laborum nemo laboriosam eum, at repellat eveniet, voluptatum nulla voluptates praesentium velit
        optio nisi consequatur dignissimos dolores! Eligendi.
      </p>
    </div>
  </Container>
</Layout>

<style>
  .content {
    display: grid;
  }
  .profile-pic {
    grid-row: 1;
    grid-column: 1;

    min-height: 535px;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
  }
  p {
    margin-top: 6rem;
    grid-row: 1;
    grid-column: 1;
    align-self: self-end;
  }

  @media (max-width: 600px) {
    .profile-pic {
      min-height: 253px;
    }
  }
</style>
