
<div class="card">
<slot />
</div>

<style>
  .card {
    border-radius: 0.5rem;
    padding: 0.5rem;

    background-color: light-dark(lavender, saddlebrown);
    color: light-dark(saddlebrown, lavender);
  }
</style>