---

---

<main class='container'>
  <section class='text' transition:animate='slide'>
    <h1>Hi, there!</h1>
    <h2>I am <span class='mono highlight'>Ismael Carrea</span></h2>
    <h3>Software Developer, Coffee Enthusiast</h3>
  </section>
</main>

<style>
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
</style>
