---
import Github from '../assets/github.svg'
import Linkedin from '../assets/linkedin.svg'

const links = [
  { name: 'home', href: '/' },
  { name: 'aboutMe', href: '/about' },
  { name: 'experience', href: '/experience' },
  { name: 'blog', href: '/blog' },
  { name: 'works', href: '/works' },
]
const url = Astro.routePattern
---

<nav>
  <button id='burger' class='highlight'>|||</button>
  <ul>
    {
      links.map((link, idx) => (
        <li class:list={[url === link.href ? 'selected' : '', 'link']}>
          <span class='prefix mono'>
            {url === link.href ? '/*' : '//'}0{idx}
          </span>
          <a href={link.href === '/' ? '/' : link.href + '/'}>{link.name}</a>
        </li>
      ))
    }
  </ul>
  <div class='right'>
    <a href='https://github.com/isma1306' aria-label='link to github page'><Github size='1rem' fill='currentColor' /></a>
    <a href='https://linkedin.com/in/ismaelcarrea' aria-label='link to linkedin page'> <Linkedin size='1rem' fill='currentColor' /></a>
  </div>
</nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const burger = document.querySelector('#burger')
    const links = document.querySelector('ul')

    burger?.addEventListener('click', () => {
      links?.classList.toggle('open')
      burger?.classList.toggle('open')
    })
  })
</script>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 2;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: 0;
    padding-left: 0;
  }

  .link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    a {
      position: relative;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: var(--highlight);
      transition: width 0.3s ease;
    }
  }

  .prefix {
    color: var(--secondary);
    transition: all 0.3s ease;
  }

  .link:hover {
    a::after {
      width: 100%;
    }
    .prefix {
      color: var(--highlight);
      transform: translateX(2px);
    }
  }

  .selected {
    .prefix {
      color: var(--highlight);
    }
    a {
      color: var(--highlight);
    }
    a::after {
      width: 100%;
    }
  }

  .right {
    color: var(--highlight);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    a {
      height: 1rem;
      transition: all 0.3s ease;
      :hover {
        color: var(--highlight);
      }
    }
  }
  #burger {
    border: none;
    display: none;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    text-align: center;
    transform: rotate(90deg);
    z-index: 3;
  }

  #burger:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  @media only screen and (max-width: 700px) {
    nav {
      width: 100%;
      gap: 1rem;
      padding: 1.5rem;
      overflow: visible;
      height: 5rem;
    }
    ul {
      position: absolute;
      top: 1rem;
      left: 1rem;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-2rem);
      background: color-mix(in srgb, var(--cardBackground), transparent 40%);
      border-radius: 12px;
      backdrop-filter: blur(10px);
      flex-direction: column;
      height: fit-content;
      gap: 1rem;
      z-index: 2;
      padding: 1rem 1rem 1rem 4rem;
    }
    #burger {
      display: block;
    }

    ul.open {
      display: flex;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    #burger.open {
      transform: rotate(270deg);
    }
    #burger.open:hover {
      transform: scale(1.2);
    }
  }
</style>
