---
import Github from '../assets/github.svg'
import Linkedin from '../assets/linkedin.svg'

const links = [
  { name: 'home', href: '/' },
  { name: 'aboutMe', href: '/about/' },
  { name: 'blog', href: '/blog/' },
  { name: 'works', href: '/works/' },
  { name: 'experience', href: '/experience/' },
]
const url = Astro.routePattern
---

<nav>
  <ul>
    {
      links.map((link, idx) => (
        <li class:list={[link.href === url ? 'selected' : '', 'link']}>
          <span class='prefix mono'>
            {link.href === url ? '/*' : '//'}0{idx}
          </span>
          <a href={link.href}>{link.name}</a>
        </li>
      ))
    }
  </ul>
  <div class='right'>
    <a href='https://github.com/isma1306' aria-label='link to github page'><Github size='1rem' fill='currentColor' /></a>

    <a href='https://linkedin.com/in/ismaelcarrea' aria-label='link to linkedin page'> <Linkedin size='1rem' fill='currentColor' /></a>
    <!-- <label class='switch'>
      <input #darkmode type='checkbox' />
      <span> darkmode</span>
    </label> -->
  </div>
</nav>

<script>
  const darkmode = document.querySelector('input')
  darkmode?.addEventListener('change', (event: Event) => {
    const input = event.target as HTMLInputElement
    const html = document.querySelector('html')
    html!.style.setProperty('color-scheme', input.checked ? 'dark' : 'light')
  })
</script>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: 0;
    padding-left: 0;
  }

  .link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    a {
      position: relative;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease;
    }
    a::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: var(--highlight);
      transition: width 0.3s ease;
    }
  }

  .prefix {
    color: var(--secondary);
    transition: all 0.3s ease;
  }

  .link:hover {
    a::after {
      width: 100%;
    }
    .prefix {
      color: var(--highlight);
      transform: translateX(2px);
    }
  }

  .selected {
    .prefix {
      color: var(--highlight);
    }
    a {
      color: var(--highlight);
    }
    a::after {
      width: 100%;
    }
  }

  .right {
    color: var(--highlight);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    a {
      height: 1rem;
      transition: all 0.3s ease;
      :hover {
        color: var(--highlight);
      }
    }
  }
</style>
